.about{

    display: flex;
}
.about h1{
    top: 10px;
    padding-bottom: 20px;
    margin-top:-50px

}
.photo-about{
    width: 100%;
    background-image: url('../locales/photos/karsten-winegeart-loJL4ijUobg-unsplash.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.text-about{
    padding: 5vw;
    text-align: left;
    width: 80%;
}
 @media screen and (max-width:768px) {
    
    .about {
        flex-direction: column;
    }
    .photo-about{
        height: 400px;
        
    }
    .text-about{
          width: 90%;
    }
    
} 
@media screen and (max-width:480px) {
   .photo-about{
        height: 400px;
    }
}