.about{
    display: flex;
     flex-direction: column;
     overflow-x: hidden;
}
.about section{
    display: flex;
}
.photo-about{
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-left: 50px;
    width: 100%;
    min-height: 500px;
}

.about .first-photo{
 background-image: url('../locales/photos/karsten-winegeart-loJL4ijUobg-unsplash.jpg');
}
.about .second-photo{
background-image: url('../locales/photos/Jelena.JPG');
background-position: top;
}

.text-about{
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 50px;
    
}
.first-text p, .about h1{
    text-align: left;
    padding-left: 50px;
}
.second-text p{
    text-align: right;
    padding-left: 50px;
    padding-right: 0px;
}
@media screen and (max-width:768px) {
    
   .text-about{
    width: 95%;
}
.first-text p{
    text-align: justify;
    padding-left: 50px;
}
.second-text p{
    text-align: justify;
    padding-left: 50px;
    padding-right: 0px;
}
     .photo-about{
        height: 400px;
    }
 
    .about section{
  flex-direction: column;
}

} 
@media screen and (max-width:480px) {
   .photo-about{
        height: 400px;
    }
  }


