main{
    text-align: center;
    background-color: #b6b3b3;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    color: white;
    height: 100vh;
    position:relative ;
    top:-80px ;
}
h1{
  font-weight: 200;
  font-size: 30px;
  text-transform: uppercase;
  position: relative;
  top: 15vh;
/* padding-bottom: 30vh; */
}
main img{
    width: 300px;
}