.kontakt{
  display: flex;
  flex-direction: column;
}
.kontakt form{
   display: flex;
  flex-direction: column;
  width: 80%;
}
.marker{
 background-image: url('../locales/photos/mapbox-icon.png');
 background-color: #ff6347;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
  
}
.map{
  width: 50%;
  height: 400px;
}
@media screen and (max-width:768px) {
    .map{
  width: 80%;
  height: 400px;
}
} 
