.gallery{
margin: auto;
}
.photo{
    background-position: center;
    background-size: cover;
    margin: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
   
}
.photo-gallery{
    display: flex;
    flex-wrap: wrap;
    padding:30px;
 
}
.photo-holder{
    margin: auto;
}