.homepage{
    text-align: center;
    position:relative ;
    z-index: -2;
}
.container{
    position: relative;
    margin-bottom: 100px;
    height: 130vh;
}

.vertical-slider {

    width: 25vw;
    z-index: -1;
    display: flex;
    flex-direction: column;
    position: fixed;
    background-color: rgb(255, 255, 255);
}
.v-s-one{
  top:-580px;
  padding-left: 1.6vw; 

}
.v-s-two{
    left:25%;
    top:-340px;
        padding-left: 1.2vw; 
}
.v-s-three{
    left:50%;
    top:-500px;
    padding-left: 0.8vw; 

}
.v-s-four{
    left:75%;
    top:-300px;
    padding-left: 0.4vw;
}
.vertical-slide{
    width:23vw;
    display: flex;
    min-height: 150px;
    margin: 0px 0px 1.6vw 0px;
   background-size: cover;
   background-position: right;
   box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    background-color: #8e8671; 
    transform: "translate(-50%, -50%)";
    border-radius: 15px;
   

    
}
.vertical-slide:nth-child(2),.vertical-slide:nth-child(7),.vertical-slide:nth-child(8){
    height: 250px;
}
.vertical-slide:nth-child(3){
    height: 200px;
}
.vertical-slide:nth-child(4),.vertical-slide:nth-child(6){
    height: 300px;
}

/* .slides{
    position:absolute;
    top: 0px;
    padding-top: 0px;
    background-color: transparent;
    height: 850px;
} */
/* .sticky{
    display: flex;
    top:500px;
    position:sticky;
} */

/* .home-slide{

    width: 150px;
    display: flex;
    height: 150px;
    margin: 10px 10px 10px 0px;
   padding: 10px;
   background-size: cover;
   background-position: center;
   box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
   
   
} */
/* .home-slide:hover{
   background-size:300px;
} */

/* .slide-one{
    background-image: url('../locales/photos/tim-umphreys-M-svG1XYiHs-unsplash.jpg');
}
.slide-two{
    background-image: url('../locales/photos/yoonjae-baik-FXr_SnSAuOc-unsplash.jpg');
}
.slide-three{
    background-image: url('../locales/photos/jametlene-reskp-VDrErQEF9e4-unsplash.jpg');
}
.slide-four{
    background-image: url('../locales/photos/krista-mangulsone-9gz3wfHr65U-unsplash.jpg');
}
.slide-five{
    background-image: url('../locales/photos/krystian-tambur-FT9SsFEXqF4-unsplash.jpg');
}
.slide-six{
    background-image: url('../locales/photos/hannah-grace-fk4tiMlDFF0-unsplash.jpg');
}
.slide-seven{
    background-image: url('../locales/photos/jesse-schoff-Ph2KtIqKs7c-unsplash.jpg');
} */
.heading-home{
padding-top: 30px;
margin-top: 210px;
/* top:20px; */
display: flex;
flex-direction: column;
background-color: rgb(58, 47, 37,0.2);
z-index: 0;
position: sticky;

}
.homepage h1{

padding-top: 30px;
padding-bottom: 30px;
}
.homepage h2{  

    font-size: 90px;
    font-weight: 800;
    text-transform: uppercase;
    margin-top: 10px;
    padding-bottom: 0px;
    margin-bottom: 20px;
     color: tomato; 
    
}
.circle {
    margin: auto;
    border:2px solid white;
    background-color: transparent;
    height: 100px;
    border-radius: 50%;
    width: 100px;
    top:-10px;
    position: relative;
    }
.icon{
    font-size: 70px;
}
.social{
display: flex;
  position: sticky;
  margin-left:80vw;
  top:70px;
  /* height: 150px; */
  z-index: 2;
  /* background-color:rgb(0, 0, 0,0.3) */
}
.social-icon{
    border: none;
    color: white;
    margin:0px;
    width: 50px;
    height: 50px;
    font-size: 30px;
    background-color: transparent; 
}
.contact-home{
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-top: 150px;
    position: sticky;
    /* background-color:rgb(144, 126, 114,0.5); */
    background-color: rgb(58, 47, 37,0.7);
}
.contact-home p{
    padding: 20px;
    margin: auto;
}
.deco-1,.deco-2{
height: 650px;
width: 100%;
display: flex;
}
.deco-1{
   
 background-color: tomato; 

}
.deco-2{
    background-color: rgb(240, 237, 222);
    color: rgb(58, 47, 37);
    background-image: url("../locales/photos/paws1.png");
    background-size: cover;
    background-position: center;
  background-blend-mode: overlay;
}
.deco-1-text,.deco-2-text{
    width: 50%;
    margin: auto;
    margin-top: 200px;
    font-size: 60px;
}
.deco-2-text h4{

}
.deco-1-img,.deco-2-img{
    width: 550px;
    height: 550px;
    background-size: cover;
    margin:auto
}
.deco-2-img{
margin-left:50px
}
.deco-1-img{
    margin-right:50px
}

@media screen and (max-width:900px) {
   
.deco-1-img,.deco-2-img{
    width: 500px;
    border-radius: 500px;
    height: 500px;
}
@media screen and (min-height:1000px) {
     .container{
            height: 100vh;
        }
    }
.deco-1-img,.deco-2-img{
    width: 500px;
    border-radius: 500px;
    height: 500px;
}
.deco-1,.deco-2{
height: 600px;
}
.deco-1-text,.deco-2-text{
    width: 40%;
    margin-top: 160px;
}
}


    @media screen and (max-width:768px) {
       

.social{
        margin-right: 70%;
        top:150px;
    }
    .circle{
    top:40px;
    }
    .contact-home{
    flex-direction: column;

}
.contact-home p{
    padding: 10px;
}
.home-slide{
    
    /* width: 500px; */
}
   .heading-home {
      top:230px
  } 
 
.homepage h1{
font-size: 22px;
padding-top: 40px;
}
.homepage h2{  
    font-size: 60px;
    margin-top: 0px;
}
    .contact-home {
margin-top:380px

} 
 .v-s-four,.v-s-four .vertical-slide{
/* height: 0;
width: 0; */
display: none;
}
.v-s-two{
    left:33.3%;
}
.v-s-three{
    left:66.6%;
}
.v-s-one, .v-s-two ,.v-s-three{
    width: 33.3vw;
}
 .v-s-one .vertical-slide,.v-s-two .vertical-slide,.v-s-three .vertical-slide {
    width: 31.3vw;
 }
.deco-1,.deco-2{
    flex-direction: column;
}
.deco-1-img,.deco-2-img{
    width: 400px;
    border-radius: 400px;
    height: 400px;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
}
.deco-1-text,.deco-2-text{
    width: 80%;
    margin: auto;
    margin-top: 50px;
} 
.deco-1,.deco-2{
height:fit-content;
}
 
} 

@media screen and (max-width:480px) {

    .homepage{
        top: -40px;
    }
 .homepage h1{
margin-top:10px;
    }
.social{
    top:120px;
    flex-direction: column;

}

/* .home-slide,.vertical-slide{ 
     width:100px; 
     height: 100px;
}  */
 .heading-home{
   margin-top: 150px;
 }
 .v-s-three,.v-s-four, .v-s-three .vertical-slide,.v-s-four .vertical-slide{
/* height: 0;
width: 0; */
display: none;
}
.v-s-two{
    left:50%;

}
.v-s-one, .v-s-two{
    width: 50vw;
}
 .v-s-one .vertical-slide,.v-s-two .vertical-slide{
    width: 48vw;
 }

}