.homepage{
    text-align: center;
    background-image: url('../locales/photos/kolaz.jpg');
    background-position: top;
    background-attachment: fixed;
    background-size: cover;
    position:relative ;
    /* top: -50px; */

   /* height: 105vh; */

   /* color:#907e72; */
}
.container{
    /* background-color: rgba(0, 0, 0,0.5); */
     height: 105vh;
       background-color:rgb(144, 126, 114,0.2);

}
.homepage h1{

padding-bottom: 0vh;
padding-top: 12vh;
}
.homepage h2{
    font-weight: 400;
    font-size: 50px;
    text-transform: uppercase;


}
.circle {
    margin: auto;
    border:2px solid white;
    background-color: transparent;
    height: 100px;
    border-radius: 50%;
    width: 100px;
    position: relative;
    top: 5vh;
    }
.icon{
    font-size: 70px;
}
.social{
    display: flex;
  position: sticky;
  margin-left:80vw;
  top:70px;
  height: 150px;
  /* background-color:rgb(0, 0, 0,0.3) */
}
.social-icon{
    border: none;
    color: white;
    margin:0px;
    width: 50px;
    height: 50px;
    font-size: 30px;
    background-color: transparent; 
}
.contact-home{
    display: flex;
    flex-direction: row;
    margin: auto;
    background-color:rgb(144, 126, 114,0.5);
}
.contact-home p{
    padding: 20px;
     margin: auto;
}
    @media screen and (max-width:768px) {
    
.homepage h1{
    top: 0vh;
}
.social{
        margin-right: 80vw;
        top:100px;
    }
 .homepage h2{
    top:0vh;
     
    }
    .circle{
    top:0vh;
    }
    .contact-home{
    flex-direction: column;
}
.contact-home p{
    padding: 10px;
}
    
} 

@media screen and (max-width:480px) {

    .homepage{
        top: -40px;

    }
  
 .homepage h2{
margin-top:10px;
    }
    .circle{
    top:-10vh;
    }
.social{
    top:120px;
    flex-direction: column;
    
}

    
}