.homepage{
    text-align: center;
    background-image: url('../locales/photos/jamie-street-wcO2PWLuQ3U-unsplash.jpg');
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    position:relative ;
   height: 105vh;
}
.container{
    background-color: rgba(0, 0, 0,0.5);
     height: 105vh;
}
.homepage h1{

padding-bottom: 0vh;
padding-top: 12vh;
top: 7vhvh;
}
.homepage h2{
    font-weight: 400;
    font-size: 50px;
    text-transform: uppercase;
    position: relative;
    top: 5vhvh;
}
.circle {
    margin: auto;
    border:2px solid white;
    background-color: transparent;
    height: 100px;
    border-radius: 50%;
    width: 100px;
    position: relative;
    top: 5vh;
    }
.icon{
    font-size: 70px;
}
.social{
    display: flex;
    flex-direction: column;
  position: sticky;
  margin-left:85vw;
 padding-left: 20px;
  top:50px;
  background-color:rgb(0, 0, 0,0.3)
}
.social-icon{
    border: none;
    color: white;
    margin:0px;
    width: 50px;
    height: 50px;
    font-size: 30px;
    background-color: transparent; 
}
.contact-home{
    display: flex;
    flex-direction: row;
    margin: auto;
}
.contact-home p{
    padding: 30px;
     margin: auto;
}
    @media screen and (max-width:768px) {
    
.homepage h1{
    top: 0vh;
    }
 .homepage h2{
    top:0vh
    }
    .circle{
    top:0vh;
    }
    .contact-home{
    flex-direction: column;
}
.contact-home p{
    padding: 10px;
}
    
} 

@media screen and (max-width:480px) {

    .homepage{
        top: -40px;
        /* top:0px */
    }
    .homepage h1{
    top: -5vh;
    }
 .homepage h2{
    top:-5vh
    }
    .circle{
    top:-10vh;
    }
.social{
    top:120px;
    
}

    
}