body {
  margin: 0;
  box-sizing: border-box;
  font-family:'open sans'; 
  /* background-color: #646464; */
   /* background-color: #636159; */
      background-color: #88B04B;
    
  
  color: white;
 

}


