.slider{
    width: 700px;
    height: 400px;
    margin: auto;
}
.slide{
    width: 700px;
    height: 400px; 
    background-size: cover;
    background-position: center;
    border-radius: 15px;
}

.practice h3 {
  display: flex;
  flex-direction: row;
  width: 700px;
  margin-top:-100px;
  

}
h3:before, h3:after{
  content: "";
  flex: 1 1;
  border-bottom: 1px solid;
  margin: auto;
}
h3:before {
  margin-right: 10px
}
h3:after {
  margin-left: 10px
}
.rectangle{
    /* background-color:rgb(230, 218, 181,0.5); */
    background-color:rgba(255, 255, 255,0.2);
    height: 200px;
    width: 100vw;
    position: relative;
    top:260px 
}
.practice p{
    
    width: 90vw;
    margin: auto;
    padding-bottom: 50px;
}

.slideshow button{
    position: relative;
    top:-220px;
    font-size: 40px;
     color:rgba(250, 250, 250,0.7);
    border: none;
    border-radius:5px;
    background-color:rgba(250, 250, 250,0.2);
    
}

.slideshow :nth-child( 1 of button) {
    right: 39vw;
}
.slideshow :nth-child(2 of button) {
    left: 39vw;
}
@media screen and (max-width:768px) {
    .practice h1{
           padding-top: 100px;
    }
    
  .slider{
    width: 500px;
}
.slide{
    width: 500px;
}
.practice h3{
    width: 500px
}

}
@media screen and (max-width:480px) {
   .practice h1{
    padding-top: 150px;
    width: 90vw;
    margin: auto;
    margin-bottom:-150px;

}
.rectangle{
    background-color: transparent;
}
 .slider{
    width: 350px;
}
.practice p{
    width: 350px;
    
    
}
.slide{
    width: 350px;
}
.slideshow button{
   
     /* color:rgba(250, 250, 250); */
     width: 25px;
     background-color: transparent;
    
}
.slideshow :nth-child( 1 of button) {
    right: 40vw;
}
.slideshow :nth-child(2 of button) {
    left: 38vw;
}
.practice h3{
    width: 350px;
     margin-top:-20px;
}
.rectangle{
   
    top:350px 
}
}
