.questions{
     
    display: flex;
}
.questions h1{
   top: 10px;
   padding-bottom: 20px;
   margin-top:-50px

}
.questions-photo{
    width: 100%;
    background-image: url('../locales/photos/paul-hanaoka-w2DsS-ZAP4U-unsplash.jpg');
    /* background-attachment: scroll; */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.questions-text{
    padding: 5vw;
    text-align: left;
    width: 80%;
}
 @media screen and (max-width:768px) {
    
    .questions {
        flex-direction: column;
        top: -60px;
        background-position: bottom;
    }
    .questions-photo{
        height: 400px;
        
    }
    .questions-text{
          width: 90%;
    }
   
    
} 
@media screen and (max-width:480px) {
   
}