.services{
    display: flex;
}
.services h1{
   top: 10px;
   padding-bottom: 20px;

}
.services-photo{
    width: 100%;
    background-image: url('../locales/photos/aboodi-vesakaran-LmZsF4tnUR0-unsplash.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.services-text{
    width: 80%;
    padding: 50px;
    text-align: right;
}
@media screen and (max-width:768px) {
    
    .services {
        flex-direction: column;
        top: -60px;
    }
    .services-text{
        text-align: center;
        margin: auto;
    }
    .services-photo{
        height: 500px;
    }
    .services {
    top:10px
    }
    /* footer{
        position: relative;
         top: -60px;
    } */
    
} 
@media screen and (max-width:480px) {
   .photo-about{
        height: 400px;
    }
    /* .services {
    top:10px
    } */
    
  }




