.nav{
    background-color:#7CA228;
    display: flex;
     justify-content: right;
}
.nav  li{
        list-style: none;
        display: inline;
        margin-right: 20px;
         color: beige;
        text-decoration:none;
        text-transform: uppercase;
        cursor: pointer;
        
        
    }
/* .nav li a{
        color: beige;
        text-decoration:none;
        text-transform: uppercase;
        
    }   */
@media screen and (max-width:768px) {
     .nav  li{
        
        display: flex;
       
    }
}  